main {
	margin: 0;
	padding: 1em;
	height: 100vh;
}

canvas {
	/* border: 3px dashed brown; */
	display: block;
	z-index: 999999;
	pointer-events: none;
	position: absolute;
	left: 0; top: 0;
	width: 100vw;
	height: 100vh;
}