@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Chivo+Mono&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&family=Ubuntu+Mono&family=Chivo+Mono&display=swap'); */

* {
	box-sizing: border-box;
}
body {
	/* Font is imported in package.json using Fontsource */
	font-family: Roboto;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
